@import "_variables.scss";

.iceberg{
    height: 20rem;
    transition: all 0.3s;
    border-radius: 50%;
}

.iceberg:hover {
    border-radius: 0;
    filter: hue-rotate(180deg);
    transform: scale(1.3);
    
}